/* Ваши собственные стили */
@font-face {
    font-family: Montserrat, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap') format('truetype');
}
@font-face {
    font-family: RaleWay;
    src: url("../../images/fonts/Raleway-VariableFont_wght.ttf");
}

#responsible-table {
    width: 100%;
}

/*Таблицы редактирования бригадиров и работников*/
#drag-brigadiers-box{
    transform: translate(-50%, -50%);
    position: fixed;
    top: 65%;
    left: 50%;
    width: 80%;
    height: 60%;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease
}
#responsibleBrigadiersTable, #dragBrigadiersTable{
    width: 40%;
}

#drag-brigadier-headers {
    width: 100%;
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#brig-main-header{
    font-size: x-large;
}
#brig-header1, #brig-header2 {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.button-save-on-supervisor {
    position: sticky;
    width: 15%;
}

#upper-drag-menu {
    color: white;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 25%;
    left: 50%;
    height: 30%;
    width: 80%;
    visibility: hidden;
    opacity: 0;
    align-self: center;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease
}
#drag-exit{
    color: red;
    position: absolute;
    top: 20%;
    right: 0%;
    font-size: 1.5em;
}
#drag-exit:hover,
#drag-exit:active
{
    transform: scale(1.1);
    color: darkred;
    cursor: pointer;
}

#dragBrigadiersTable
{
    height: 80%;
    width: 40%;
}
#responsibleBrigadiersTable
{
    height: 80%;
    width: 40%;
}
/*-----------------------*/
