<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/client_pages/general/wave_header.css}" href="/static/css/client_pages/general/wave_header.css" rel="stylesheet" />
<section class="gradient-pp vh-100">
    <header class="position-absolute w-100 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="moving-waves">
                <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(244,244,244,0.40)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(244,244,244,0.35)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(244,244,244,0.25)" />
                <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(244,244,244,0.20)" />
                <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(244,244,244,0.15)" />
                <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(244,244,244,1)" />
            </g>
        </svg>
    </header>
</section>
</html>