<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выданное оборудование</title>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.6.0/dist/js/tabulator.min.js"></script>
    <link rel="stylesheet" th:href="@{/sass/general.css}" href="/sass/general.css">
    <link rel="stylesheet"  th:href="@{/css/tables-general/general.css}" href="/css/tables-general/general.css"/>
    <link rel="stylesheet"  th:href="@{/css/tables-general/main-form.css}" href="/css/tables-general/main-form.css"/>
    <link rel="stylesheet"  th:href="@{/css/tables-general/header.css}" href="/css/tables-general/header.css"/>
    <link rel="stylesheet"  th:href="@{/css/tables-general/nav.css}" href="/css/tables-general/nav.css"/>
    <link rel="stylesheet"  th:href="@{/css/tables-general/notifiication_popup.css}" href="/css/tables-general/notifiication_popup.css"/>
    <link rel="stylesheet" th:href="@{/css/equipment/styles_assignment_equipment_tab.css}" href="/css/equipment/styles_assignment_equipment_tab.css" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">
</head>
<body>

<!-- nav -->
<nav th:include="~{/general/nav.html :: nav}"></nav>
<!-- @end nav -->

<!-- header -->
<header>
    <div class="header-inner clearfix">
        <div class="nav-btn nav-slider">
            <i class="material-icons">menu</i>
        </div>
        <div class="header-logo">
            <a href="https://deepcleanhq.com/"><img alt="logo" th:src="@{/images/new_logo_tight.jpg}" src="/images/new_logo_tight.jpg"></a>
        </div>
        <div class="header-categories">
            <ul class="ul-base">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#"><span>Оборудование</span> <i class="material-icons">keyboard_arrow_down</i></a>
                    <ul class="dropdown-menu ul-base">
                        <li><a href="/tables/shift/main">Рабочее время</a></li>
                        <li><a href="/tables/brigadier/main">Бригадиры</a></li>
                        <li><a href="/tables/worker/main">Персонал</a></li>
                        <li><a href="/tables/supervisors/main">Супервайзеры</a></li>
                        <li><a href="/tables/order/main">Заказы</a></li>
                        <li><a href="/tables/address/main">Объекты</a></li>
                        <li><a href="/tables/expense/main">Расходы</a></li>
                        <li><a href="/tables/income/main">Доходы</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-categories">
            <ul class="ul-base">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#"><span>Выданное</span> <i class="material-icons">keyboard_arrow_down</i></a>
                    <ul class="dropdown-menu ul-base">
                        <li><a href="/tables/equip/main">Склад</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-search">
            <div class="search">
                <i class="material-icons">search</i>
                <input type="search" name="search" placeholder="Искать">
            </div>
        </div>

    </div>
</header><!-- @end header -->

<!-- Main content -->
<footer></footer><!-- @end footer -->

<main role="main">
    <div id="table-left">
        <div id="table-buttons">
            <button id="main-table-save-update">Сохранить изменения в таблице</button>
        </div>
        <!-- Таблица основная -->
        <div id="assign-equip-table"></div>
    </div>
    <!-- Окно фильтров -->
    <div id="filter-window">
        <div id="header" class="filter-window">
            <span style="margin-right: 1vw">Фильтры</span>
            <span class="material-icons">manage_search</span>
        </div>
        <span style="margin-bottom: 1vh">Выберите столбик</span>
        <select class="filter-window" id="filter-column">
            <option value="naming">Наименование</option>
            <option value="responsible">Ответственный</option>
            <option value="source">Поставщик</option>
        </select>
        <input class="filter-window" type="text" id="filter-input" placeholder="Впишите значение">
        <button class="filter-window" id="clear-filter">Очистить фильтр</button>
    </div>
    <div id="overlay"></div>
</main><!-- @end main -->

<!--    форма на новое поле        -->
<form id="main-form" class="basic-form">
    <i id="form-exit" class="fa fa-times" aria-hidden="true"></i>
    <span id="assignment-equip-name"></span>
    <div class="datainput">
        <input type="hidden" id="equipId" name="equipId">
        <input class="validate" id="naming" name="naming" required="" type="text" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Описание</label>
    </div>
    <div class="datainput">
        <select id="workerId" name="workerId">
            <option hidden="hidden" selected="selected" value="default">Выберите работника</option>
        </select>
    </div>
    <span id="assignment-equip-left"></span>
    <div class="datainput">
        <input class="validate" id="amount" name="amount"
               required="" type="number" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Количество</label>
    </div>
    <button id="main-form-submit" class="send_form" type="submit" title="Сохранить">Добавить</button>
    <div id="text-info"></div>
</form>
<!--Меню при сохранении формы-->
<div class="cd-popup" id="form-popup" role="alert">
    <div class="cd-popup-container">
        <p>Сохранено. Создать еще одну запись?</p>
        <ul class="cd-buttons">
            <li><a href="" id="cd-popup-yes">Да</a></li>
            <li><a href="" id="cd-popup-no">Нет</a></li>
        </ul>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
<!--Меню при удалении записи assign-equip-->
<div class="cd-popup" id="assign-equip-delete-popup" role="alert">
    <div class="cd-popup-container">
        <p>Вы точно хотите удалить записи?</p>
        <ul class="cd-buttons">
            <li><a href="" id="assign-equip-popup-yes">Да</a></li>
            <li><a href="" id="assign-equip-popup-no">Нет</a></li>
        </ul>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
</div>

<!-- partial -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script th:src="@{/js/main_header.js}" src="/js/main_header.js"></script>
<script th:src="@{/js/equip/assignment_equip_script.js}" src="/js/equip/assignment_equip_script.js"></script>
<script th:src="@{/js/form_popup_common.js}" src="/js/form_popup_common.js"></script>
<script th:src="@{/js/equip/assignment_equip_delete_popup_script.js}" src="/js/equip/assignment_equip_delete_popup_script.js"></script>
<script src="/js/delete_autocomplete.js"></script>
</body>
</html>
