<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оборудование</title>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.6.0/dist/js/tabulator.min.js"></script>
    <link rel="stylesheet" th:href="@{/sass/general.css}" href="/sass/general.css">
    <link rel="stylesheet"  th:href="@{/css/tables-general/general.css}" href="/css/tables-general/general.css"/>
    <link rel="stylesheet"  th:href="@{/css/tables-general/main-form.css}" href="/css/tables-general/main-form.css"/>
    <link rel="stylesheet"  th:href="@{/css/tables-general/header.css}" href="/css/tables-general/header.css"/>
    <link rel="stylesheet"  th:href="@{/css/tables-general/nav.css}" href="/css/tables-general/nav.css"/>
    <link rel="stylesheet"  th:href="@{/css/tables-general/notifiication_popup.css}" href="/css/tables-general/notifiication_popup.css"/>
    <link rel="stylesheet" th:href="@{/css/equipment/styles_equipment_tab.css}" href="/css/equipment/styles_equipment_tab.css" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">
</head>
<body>

<!-- nav -->
<nav class="sidebar">
    <div class="nav-header">
        <div class="logo-wrap">
            <a class="logo-text" href="https://workcontrol.site/form/authentication">Личный <br> кабинет</a>
            <a class="logo-icon" href="https://workcontrol.site/form/authentication">
                <img src="/images/new_logo.jpg" alt="logo-icon" th:src="@{/images/new_logo.jpg}"></a>
        </div>

        <div class="nav-search">
            <div class="search">
                <i class="material-icons">search</i>
                <input type="search" name="search" placeholder="Поиск">
            </div>
        </div>
    </div>
    <ul class="nav-categories ul-base">
        <li><a href="/tables/equipment/main">Оборудование</a></li>
        <li><a href="/tables/shift/main">Рабочее время</a></li>
        <li><a href="/tables/brigadier/main">Бригадиры</a></li>
        <li><a href="/tables/worker/main">Персонал</a></li>
        <li><a href="/tables/supervisors/main">Супервайзеры</a></li>
        <li><a href="http://www.mediahawkz.com/topic/lifestyle">Клиенты</a></li>
        <li><a href="http://www.mediahawkz.com/topic/world">Организации</a></li>
        <li><a href="/tables/address/main">Объекты</a></li>
        <li><a href=/tables/expense/main>Расходы</a></li>
        <li><a href="/tables/income/main">Доходы</a></li>
    </ul>
    <div class="copyright">
        <span>&copy; 2024 <a href="https://workcontrol.site/form/authentication" class="link">DeepClean.site</a> </span>
        <span>Designed by <a href="https://workcontrol.site/form/authentication" target="_blank">DeepClean</a></span>
    </div>
</nav><!-- @end nav -->

<!-- header -->
<header>
    <div class="header-inner clearfix">
        <div class="nav-btn nav-slider">
            <i class="material-icons">menu</i>
        </div>
        <div class="header-logo">
            <a href="http://www.mediahawkz.com/"><img alt="logo" th:src="@{/images/new_logo_tight.jpg}" src="/images/new_logo_tight.jpg"></a>
        </div>
        <div class="header-categories">
            <ul class="ul-base">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#"><span>Оборудование</span> <i class="material-icons">keyboard_arrow_down</i></a>
                    <ul class="dropdown-menu ul-base">
                        <li><a href="/tables/shift/main">Рабочее время</a></li>
                        <li><a href="/tables/brigadier/main">Бригадиры</a></li>
                        <li><a href="/tables/worker/main">Персонал</a></li>
                        <li><a href="/tables/supervisors/main">Супервайзеры</a></li>
                        <li><a href="http://www.mediahawkz.com/topic/lifestyle">Клиенты</a></li>
                        <li><a href="http://www.mediahawkz.com/topic/world">Организации</a></li>
                        <li><a href="/tables/address/main">Объекты</a></li>
                        <li><a href="/tables/expense/main">Расходы</a></li>
                        <li><a href="/tables/income/main">Доходы</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-categories">
            <ul class="ul-base">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#"><span>Склад</span> <i class="material-icons">keyboard_arrow_down</i></a>
                    <ul class="dropdown-menu ul-base">
                        <li><a href="/tables/assignment_equip/main">Выданное</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-search">
            <div class="search">
                <i class="material-icons">search</i>
                <input type="search" name="search" placeholder="Искать">
            </div>
        </div>

    </div>
</header><!-- @end header -->

<!-- Main content -->
<footer></footer><!-- @end footer -->

<main role="main">
    <div id="table-left">
        <div id="table-buttons">
            <button id="add-row-button">Добавить поле</button>
            <button id="set-equip-types-button">Редактировать типы</button>
            <button id="main-table-save-update">Сохранить изменения в таблице</button>
        </div>
        <!-- Таблица основная -->
        <div id="equip-table"></div>
    </div>
    <!-- Окно фильтров -->
    <div id="filter-window">
        <div id="header" class="filter-window">
            <span style="margin-right: 1vw">Фильтры</span>
            <span class="material-icons">manage_search</span>
        </div>
        <span style="margin-bottom: 1vh">Выберите столбик</span>
        <select class="filter-window" id="filter-column">
            <option value="naming">Наименование</option>
            <option value="type">Тип</option>
            <option value="amount">Кол-во</option>
            <option value="total">Итого</option>
            <option value="price4each">Цена за 1</option>
            <option value="totalLeft">Остаток суммы</option>
            <option value="amountLeft">Остаток кол-во</option>
            <option value="unit">Ед.изм</option>
            <option value="givenAmount">Выдано кол-во</option>
            <option value="givenTotal">Выдано сумма</option>
            <option value="source">Поставщик</option>
            <option value="supplyDate">Дата поставки</option>
        </select>
        <input class="filter-window" type="text" id="filter-input" placeholder="Впишите значение">
        <select class="filter-window" id="filter-type">
            <option value="like">Совпадение</option>
            <option value="=">Точное совпадение</option>
            <option value="<">Меньше</option>
            <option value=">">Больше</option>
            <option value="!=">Не равно</option>
        </select>
        <button class="filter-window" id="clear-filter">Очистить фильтр</button>
    </div>
    <div id="overlay"></div>
</main><!-- @end main -->

<!--    форма на новое поле        -->
<form id="main-form" class="equip-form">
    <i id="form-exit" class="fa fa-times" aria-hidden="true"></i>
    <div class="datainput">
        <input class="validate" id="naming" name="naming" required="" type="text" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Название</label>
    </div>
    <div class="datainput">
        <select id="type" name="type">
            <option hidden="hidden" selected="selected" value="default">Выберите тип</option>
        </select>
    </div>
    <div class="datainput">
        <input class="validate" id="amount" name="amount"
               required="" type="number" step="0.01" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Количество</label>
    </div>
    <div class="datainput">
        <input class="validate" id="total" name="total"
               required="" type="number" step="0.01" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Сумма</label>
    </div>
    <div class="datainput">
        <input class="validate" id="unit" name="unit" required="" type="text" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Единица измерения</label>
    </div>
    <div class="datainput">
        <input class="validate" id="link" name="link" required="" type="text" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Ссылка(URL)</label>
    </div>
    <div class="datainput">
        <input class="validate" id="source" name="source" required="" type="text" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label>Поставщик</label>
    </div>
    <div class="datainput">
        <input class="validate" id="supplyDate" name="supplyDate" required="" type="date" value=''/>
        <span class="highlight"></span><span class="bar"></span>
        <label></label>
    </div>
    <button id="main-form-submit" class="send_form" type="submit" title="Сохранить">Добавить</button>
    <div id="text-info"></div>
</form>
<!--Меню при сохранении формы-->
<div class="cd-popup" id="form-popup" role="alert">
    <div class="cd-popup-container">
        <p>Сохранено. Создать еще одну запись?</p>
        <ul class="cd-buttons">
            <li><a href="" id="cd-popup-yes">Да</a></li>
            <li><a href="" id="cd-popup-no">Нет</a></li>
        </ul>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
<!--Меню при удалении записи equip-->
<div class="cd-popup" id="equip-delete-popup" role="alert">
    <div class="cd-popup-container">
        <p>Вы точно хотите удалить записи?</p>
        <ul class="cd-buttons">
            <li><a href="" id="equip-popup-yes">Да</a></li>
            <li><a href="" id="equip-popup-no">Нет</a></li>
        </ul>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
<!--Меню работы с типами оборудования-->
<div id="type-table-box">
    <div id="left-side-buttons">
        <button id="prev-page-type">Предыдущая страница</button>
        <button id="add-type-button">Добавить тип</button>
    </div>
    <div id="type-table"></div>
    <div id="right-side-buttons">
        <i id="type-exit" class="fa fa-times" aria-hidden="true"></i>
        <button id="types-ready-button">Сохранить изменения</button>
        <button id="next-page-type">Следующая страница</button>
    </div>
</div>

<!-- partial -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script th:src="@{/js/main_header.js}" src="/js/main_header.js"></script>
<script th:src="@{/js/equip/equip_script.js}" src="/js/equip/equip_script.js"></script>
<script th:src="@{/js/form_popup_common.js}" src="/js/form_popup_common.js"></script>
<script th:src="@{/js/equip/equip_delete_popup_script.js}" src="/js/equip/equip_delete_popup_script.js"></script>
</body>
</html>
