/* Ваши собственные стили */
@font-face {
    font-family: Montserrat, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap') format('truetype');
}
@font-face {
    font-family: RaleWay;
    src: url("../test_images/fonts/Raleway-VariableFont_wght.ttf");
}


#parent{
    height: 100vh;
    width: 100vw;
}

#table-buttons {
    margin-top: 12vh;
    margin-left: 3vh;
    margin-bottom: 2vh;
}
#equip-table {
    margin-left: 3vh;
    width: 80%;
}
/*Таблица типов оборудования*/
#type-table-box{
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
    display: flex;
    justify-content: center;
    align-items: center;

}
#left-side-buttons, #right-side-buttons{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#left-side-buttons button{
    width: 100%;
    margin-right: 1vw;
}
#right-side-buttons button {
    width: 100%;
    margin-left: 1vw;
}
#type-exit{
    color: red;
    position: absolute;
    top: 10%;
    right: 25%;
    font-size: x-large;
}
#type-exit:hover,
#type-exit:active{
    transform: scale(1.1);
    color: darkred;
    cursor: pointer;
}

#type-table
{
    height: 80%;
    width: 40%;
}
/*-----------------------*/
/*Форма добавления оборудования*/
/* Input Field CSS */
.datainput{position:relative;margin:5px 0 20px}.datainput p{font-size:12px;background:#eee;display:inline-block;padding:5px 15px;border-radius:.5rem}.equip-form textarea{min-height:120px}.datainput select{padding:12px 0;color:#555;font-size:14px;width:100%;border:0;border-bottom:1px solid #ddd;outline:none;background:#fff}.datainput input,.datainput textarea{font-size:15px;padding:15px 0;display:block;width:100%;border:none;border-bottom:1px solid #ddd}.datainput input:focus,.datainput textarea:focus{outline:none}.datainput label{color:#999;font-size:14px;font-weight:400;position:absolute;pointer-events:none;left:0;top:18px;transition:.2s ease all}.datainput input:focus~label,.datainput input:valid~label,.datainput textarea:focus~label,.datainput textarea:valid~label{top:-10px;font-size:14px;color:#21a51f}#notif-license span{font-size:40px}#notif-license{display:none;position:fixed}.bar{position:relative;display:block;width:100%}.bar:before,.bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:#21a51f;transition:.2s ease all}.bar:before{left:50%}.bar:after{right:50%}.datainput input:focus~.bar:before,.datainput input:focus~.bar:after,.datainput textarea:focus~.bar:before,.datainput textarea:focus~.bar:after{width:50%}.indigox{background:#3f51b5}.orangex{background:#ff9800}.pinkx{background:#e91e63}.bluex{background:#2196F3}.purplex{background:#9c27b0}.redx{background:#F44336}.greenx{background:#4CAF50}.highlight{position:absolute;height:50%;width:100px;top:25%;left:0;pointer-events:none;opacity:.5}.datainput input:focus~.highlight,.datainput textarea:focus~.highlight{animation:inputHighlighter .3s ease}.datainput input:focus~label,.datainput input:valid~label,.datainput textarea:focus~label,.datainput textarea:valid~label{top:-10px;font-size:13px;color:#21a51f}

/* Default Whatsapp Form CSS by www.idblanter.com */
#form-exit{
    color: red;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: x-large;
}
#form-exit:hover,
#form-exit:active{
    transform: scale(1.1);
    color: darkred;
    cursor: pointer;
}
form.equip-form {
    margin-top: 5vh;
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-radius: .5rem;
    padding: 20px;
    box-sizing: border-box;
    color: #444;
    font-size: 14px;
    line-height: 1.5;
}
.equip-form a.send_form {
    color: #fff;
    background: #21a51f;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border-radius: .3rem;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 15px;
}
#text-info span {
    display: block;
    padding: 10px 15px;
    text-align: center;
    font-weight: 700;
    margin: 15px 0;
    border-radius: .5rem;
}
#text-info span.yes {
    background: #c6ffc5;
    color: #0ea904;
}
#text-info span.no {
    background: #ffc5c5;
    color: #ce0404;
}
.equip-form{
    width:100%;
    max-width:700px;
    margin:0 auto;
    box-sizing:border-box;
}
/*-----------------------------*/
.logo-icon img{
    width: 5vw;
    height: 10vh;
}

button {
    padding: 5px 10px;
    border: 1px solid #25682a;
    background: #3FB449;
    background: -webkit-gradient(linear, left top, left bottom, from(#3FB449), to(#25682a));
    background: linear-gradient(to bottom, #3FB449 0%, #25682a 100%);
    color: #fff;
    font-weight: bold;
    -webkit-transition: color .3s, background .3s, opacity, .3s;
    transition: color .3s, background .3s, opacity, .3s;
}
button:hover {
    border: 1px solid #328e3a;
    background: #5fc768;
    background: -webkit-gradient(linear, left top, left bottom, from(#5fc768), to(#328e3a));
    background: linear-gradient(to bottom, #5fc768 0%, #328e3a 100%);
    cursor: pointer;
    color: #000;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    z-index: 999; /* Убедитесь, что оверлей находится выше всех других элементов */
    display: none; /* Начнет скрытым */
}


/* -----------------------------------------------------
  Material Design Mediahawkz.com Fixed & Responsive Header with Sidebar
  CodePen URL: https://codepen.io/rkchauhan/pen/VamPVa
  By: Ravikumar Chauhan

  Find me on:-
  * Twitter: https://twitter.com/rkchauhan01
  * Facebook: https://www.facebook.com/ravi032chauhan
  * GitHub: https://github.com/rkchauhan
  * CodePen: https://codepen.io/rkchauhan
  * UpLabs: http://uplabs.com/rkchauhan01

  Thanks to:-
  * Google Material design - https://www.google.com/design/spec/material-design/introduction.html
  * Google Material Color - https://www.google.com/design/spec/style/color.html
  * Google Material Icons - https://design.google.com/icons/
  * Roboto Font - https://google.com/fonts/specimen/Roboto
  * Font Awesome - http://fontawesome.io
  * jQuery - https://jquery.com
-------------------------------------------------------- */
/* -----------------------------------------------------
  Body
-------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    color: #646360;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: black;
    transition: opacity 0.1s ease;
}

*, *::after, *::before {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

a {
    color: #03a9f4;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.285);
    z-index: 1001;
}

/* For Typography */
.ul-base {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* -----------------------------------------------------
Clearfix
-------------------------------------------------------- */
.clearfix {
    *zoom: 1;
}
.clearfix::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
}

/* -----------------------------------------------------
   Header
-------------------------------------------------------- */
header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}
header .header-inner {
    width: 100%;
    height: 64px;
    color: #fff;
    padding: 0 20px;
    background-color: darkgreen;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
}
header .nav-btn {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 12px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header .nav-btn.nav-slider {
    float: left;
}
header .nav-btn.search {
    display: none;
}
header .nav-btn i {
    vertical-align: middle;
}
header .header-logo {
    display: inline-block;
    overflow: hidden;
    float: left;
    padding-top: 1vh;
}
header .header-logo img {
    display: block;
    max-height: 50px;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}
header .header-categories {
    display: block;
    position: relative;
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.157);
}
header .header-search {
    float: left;
    display: block;
    position: relative;
    width: calc(100% - 620px);
    height: 64px;
    margin: 0 auto;
    padding: 10px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.157);
    border-right: 1px solid rgba(255, 255, 255, 0.157);
}
header .header-search .search {
    display: block;
    position: relative;
    width: calc(100% - 35px);
    margin: 0 auto;
}
header .header-search .search i {
    position: absolute;
    top: 8px;
    left: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    cursor: pointer;
}
header .header-search .search input[type=search] {
    width: 100%;
    height: 44px;
    padding: 0 15px 0 50px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}
header .header-search .search ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
header .header-search .search ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
header .header-search .search :-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
header .header-search .search :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
header .header-menu {
    float: right;
}
header .header-menu ul {
    height: 64px;
}
header .header-menu ul li {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 64px;
}
header .header-menu ul li a {
    color: #fff;
    font-size: 17px;
    padding: 4px;
}
header .header-menu ul li a:hover {
    opacity: 0.6;
    text-decoration: none;
}
@media only screen and (max-width: 1024px) {
    header .header-categories {
        display: none;
    }
    header .header-search {
        width: calc(100% - 440px);
    }
}
@media only screen and (max-width: 860px) {
    header .header-search {
        display: none;
    }
    header .header-menu ul li:last-child {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    header .header-inner {
        padding: 0 12px;
        text-align: center;
    }
    header .nav-btn {
        background-color: rgba(0, 0, 0, 0.175);
    }
    header .header-logo {
        float: right;
        padding-left: 0px;
        padding-right: 0px;
    }
    header .header-menu {
        display: none;
    }
}

/* -----------------------------------------------------
   Nav
-------------------------------------------------------- */
nav {
    overflow-y: auto;
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    color: #fff;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    opacity: 0.9;
    z-index: 1002;
}
nav .nav-header {
    display: block;
    background-color: forestgreen;
}
nav .nav-header .logo-wrap {
    padding: 1.7em 1em;
}
nav .nav-header .logo-wrap .logo-icon {
    display: inline-block;
    text-decoration: none;
}
nav .nav-header .logo-wrap .logo-icon img {
    display: block;
    border-radius: 50%;
}
nav .nav-header .logo-wrap .logo-text {
    font-family: RaleWay,sans-serif;
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    vertical-align: 12px;
    margin-left: 1vw;
    text-decoration: none;
}
nav .nav-header .nav-search {
    position: relative;
    height: 40px;
}
nav .nav-header .nav-search .search {
    display: block;
    position: relative;
}
nav .nav-header .nav-search .search i {
    position: absolute;
    top: 8px;
    right: 0.7em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    cursor: pointer;
}
nav .nav-header .nav-search .search input[type=search] {
    width: 100%;
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    padding: 0 48px 0 20px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}
nav .nav-header .nav-search .search ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
nav .nav-header .nav-search .search ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
nav .nav-header .nav-search .search :-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
nav .nav-header .nav-search .search :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}
nav .nav-categories li {
    display: block;
    position: relative;
}
nav .nav-categories li a {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #5c5c5c;
    padding: 0.625em 1.3em;
    text-decoration: none;
}
nav .nav-categories li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
nav.open {
    left: 0px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
    opacity: 1;
}
nav .nav-separator {
    width: 100%;
    height: 1px;
    margin: 7px 0;
    background-color: rgba(0, 0, 0, 0.175);
}
nav .nav-link-title {
    display: block;
    color: #3f51b5;
    font-size: 1rem;
    padding: 0.5em 1.3em;
}
nav .social {
    display: flex;
    margin: 4px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.155);
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
}
nav .social li {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 28px;
    flex-direction: row;
    border-right: 1px solid rgba(0, 0, 0, 0.175);
}
nav .social li:last-child {
    border-right: 0;
}
nav .social li a {
    display: block;
    color: #5c5c5c;
    font-size: 15px;
    padding: 2px;
    text-decoration: none;
}
nav .social li a.twitter:hover {
    color: #00baf0;
}
nav .social li a.facebook:hover {
    color: #3b5997;
}
nav .social li a.google-plus:hover {
    color: #c43c2c;
}
nav .social li a.rss:hover {
    color: #ff6600;
}
nav .copyright {
    display: block;
    color: #5c5c5c;
    text-align: center;
    padding: 0.5em 0 1em;
}
nav .copyright span {
    display: block;
    width: 100%;
    font-size: 11px;
    margin-bottom: 4px;
}

/* -----------------------------------------------------
   Dropdown Menu
-------------------------------------------------------- */
li.dropdown {
    display: inline-block;
    position: relative;
    font-family: RaleWay,sans-serif;
}
li.dropdown a {
    display: block;
    height: 64px;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    line-height: 64px;
    text-decoration: none;
}
li.dropdown a i {
    vertical-align: middle;
}
li.dropdown .dropdown-menu {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 240px;
    margin: 2px 0;
    padding: 5px 0;
    text-align: left;
    border-radius: 2px;
    background-color: #3f51b5;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
li.dropdown .dropdown-menu li {
    display: block;
}
li.dropdown .dropdown-menu li a {
    display: block;
    height: 40px;
    font-size: 1em;
    line-height: 40px;
    text-decoration: none;
}
li.dropdown.open .dropdown-menu {
    display: block;
}
