<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles_accept_info.css" th:href="@{/styles_accept_info.css}" rel="stylesheet" />
    <title>Check your form</title>
</head>
<body>
<header th:text="'Check your info:'">Check your info</header>
<div class="date_time_info">
    <span th:text="|Date: ${us_date_format_chosen}
    Time: ${us_time_format_chosen}|"></span>
    <a th:href="@{/form/select_date(month=${session.month})}" th:text="'Change date'"></a>
</div>
<div class="service_info">
    <span th:text="|${session.chosenServiceName} for ${area} sqr feet - ${#numbers.formatDecimal(session.mainProductTotal,2,2,'POINT')}|"></span>
    <span th:each="addProduct : ${chosenAdditionalProducts}"
          th:text="|${addProduct.name} - ${addProduct.price}|"></span>
    <span th:text="|Total: ${#numbers.formatDecimal(finalTotal,2,2,'POINT')}|"></span>
    <a th:href="@{/form/select_service}" th:text="'Choose another service'"></a>
</div>
<div class="personal_info">
    <span th:text="|Name: ${session.user.username} Phone number: ${session.user.phoneNumber} mail: ${session.user.email}|"></span>
    <button id="editButton">Edit info</button>
    <form action="/form/change_personal_info" method="post" class="hidden-form" id="editForm">
        <label for="username" th:text="'New name'">поле ФИО</label>
        <input type="text" id="username" name="username">
        <br>

        <label for="phoneNumber" th:text="'New phone'">Поле номера телефона</label>
        <input type="tel" id="phoneNumber" name="phoneNumber">
        <br>
        <label for="email" th:text="'New email'">Поле email</label>
        <input type="email" id="email" name="email">
        <br>

        <input type="submit" value="change">
        <br>
    </form>
    <label for="address" th:text="'(Optional) Insert your address:'"></label>
    <input type="text" id="address">
</div>

<a th:href="@{/form/send_form}" th:text="${'Send form'}" id="send_info"></a>

<script>
    document.getElementById('editButton').addEventListener('click', function () {
        var editForm = document.getElementById('editForm');
        editForm.classList.remove('hidden-form');
        editForm.classList.add('visible-form');
    });

    var sendInfoHref = document.getElementById("send_info");
    sendInfoHref.addEventListener("click", function () {
        var address = document.getElementById("address");
        var addressStr = address.value;
        if (addressStr!==""){
            var submitHref = document.getElementById("send_info");
            var hrefStr = submitHref.getAttribute("href");
            hrefStr = hrefStr.concat("?address="+addressStr);
            submitHref.setAttribute("href",hrefStr);
        }
    })
</script>
</body>
</html>
