<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/client_pages/styles_final_page.css" th:href="@{/css/client_pages/styles_final_page.css}" rel="stylesheet" />
    <title>Thanks!</title>
    <link rel="icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">
</head>
<body>
    <h1 th:text="'Thank you, we will contact you soon!'"></h1>
    <div class="link_to_main">
        <span th:text="'Main page:'"></span>
        <a href="https://Deepcleanhq.com">Deepcleanhq.com</a>
    </div>
    <a th:href="@{/form/authentication}" th:text="'New order'"></a>
</body>
</html>