<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles_select_time.css"
          th:href="@{/styles_select_time.css}" rel="stylesheet" />
    <title>Выберите время</title>
</head>
<body>
<header th:text="'Choose time'">Выберите время</header>
<form th:action="@{/form/select_time}" method="post">
    <div class="time-selector">
        <!-- Options for every half-hour -->
        <input type="radio" id="00:00" name="time" value="00:00" checked>
        <label for="00:00">12:00 am</label>

        <input type="radio" id="00:30" name="time" value="00:30">
        <label for="00:30">12:30 am</label>

        <input type="radio" id="01:00" name="time" value="01:00">
        <label for="01:00">01:00 am</label>

        <input type="radio" id="01:30" name="time" value="01:30">
        <label for="01:30">01:30 am</label>

        <input type="radio" id="02:00" name="time" value="02:00">
        <label for="02:00">02:00 am</label>

        <input type="radio" id="02:30" name="time" value="02:30">
        <label for="02:30">02:30 am</label>

        <input type="radio" id="03:00" name="time" value="03:00">
        <label for="03:00">03:00 am</label>

        <input type="radio" id="03:30" name="time" value="03:30">
        <label for="03:30">03:30 am</label>

        <input type="radio" id="04:00" name="time" value="04:00">
        <label for="04:00">04:00 am</label>

        <input type="radio" id="04:30" name="time" value="04:30">
        <label for="04:30">04:30 am</label>

        <input type="radio" id="05:00" name="time" value="05:00">
        <label for="05:00">05:00 am</label>

        <input type="radio" id="05:30" name="time" value="05:30">
        <label for="05:30">05:30 am</label>

        <input type="radio" id="06:00" name="time" value="06:00">
        <label for="06:00">06:00 am</label>

        <input type="radio" id="06:30" name="time" value="06:30">
        <label for="06:30">06:30 am</label>

        <input type="radio" id="07:00" name="time" value="07:00">
        <label for="07:00">07:00 am</label>

        <input type="radio" id="07:30" name="time" value="07:30">
        <label for="07:30">07:30 am</label>

        <input type="radio" id="08:00" name="time" value="08:00">
        <label for="08:00">08:00 am</label>

        <input type="radio" id="08:30" name="time" value="08:30">
        <label for="08:30">08:30 am</label>

        <input type="radio" id="09:00" name="time" value="09:00">
        <label for="09:00">09:00 am</label>

        <input type="radio" id="09:30" name="time" value="09:30">
        <label for="09:30">09:30 am</label>

        <input type="radio" id="10:00" name="time" value="10:00">
        <label for="10:00">10:00 am</label>

        <input type="radio" id="10:30" name="time" value="10:30">
        <label for="10:30">10:30 am</label>

        <input type="radio" id="11:00" name="time" value="11:00">
        <label for="11:00">11:00 am</label>

        <input type="radio" id="11:30" name="time" value="11:30">
        <label for="11:30">11:30 am</label>

        <input type="radio" id="12:00" name="time" value="12:00">
        <label for="12:00">12:00 pm</label>

        <input type="radio" id="12:30" name="time" value="12:30">
        <label for="12:30">12:30 pm</label>

        <input type="radio" id="13:00" name="time" value="13:00">
        <label for="13:00">01:00 pm</label>

        <input type="radio" id="13:30" name="time" value="13:30">
        <label for="13:30">01:30 pm</label>

        <input type="radio" id="14:00" name="time" value="14:00">
        <label for="14:00">02:00 pm</label>

        <input type="radio" id="14:30" name="time" value="14:30">
        <label for="14:30">02:30 pm</label>

        <input type="radio" id="15:00" name="time" value="15:00">
        <label for="15:00">03:00 pm</label>

        <input type="radio" id="15:30" name="time" value="15:30">
        <label for="15:30">03:30 pm</label>

        <input type="radio" id="16:00" name="time" value="16:00">
        <label for="16:00">04:00 pm</label>

        <input type="radio" id="16:30" name="time" value="16:30">
        <label for="16:30">04:30 pm</label>

        <input type="radio" id="17:00" name="time" value="17:00">
        <label for="17:00">05:00 pm</label>

        <input type="radio" id="17:30" name="time" value="17:30">
        <label for="17:30">05:30 pm</label>

        <input type="radio" id="18:00" name="time" value="18:00">
        <label for="18:00">06:00 pm</label>

        <input type="radio" id="18:30" name="time" value="18:30">
        <label for="18:30">06:30 pm</label>

        <input type="radio" id="19:00" name="time" value="19:00">
        <label for="19:00">07:00 pm</label>

        <input type="radio" id="19:30" name="time" value="19:30">
        <label for="19:30">07:30 pm</label>

        <input type="radio" id="20:00" name="time" value="20:00">
        <label for="20:00">08:00 pm</label>

        <input type="radio" id="20:30" name="time" value="20:30">
        <label for="20:30">08:30 pm</label>

        <input type="radio" id="21:00" name="time" value="21:00">
        <label for="21:00">09:00 pm</label>

        <input type="radio" id="21:30" name="time" value="21:30">
        <label for="21:30">09:30 pm</label>

        <input type="radio" id="22:00" name="time" value="22:00">
        <label for="22:00">10:00 pm</label>

        <input type="radio" id="22:30" name="time" value="22:30">
        <label for="22:30">10:30 pm</label>

        <input type="radio" id="23:00" name="time" value="23:00">
        <label for="23:00">11:00 pm</label>

        <input type="radio" id="23:30" name="time" value="23:30">
        <label for="23:30">11:30 pm</label>
    </div>
    <button type="submit" class="send_time">Send</button>
</form>
</body>
</html>