<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome</title>
<link th:href="@{/sass/styles_select_service.css}" href="/static/sass/styles_select_service.css" rel="stylesheet" />
<link th:href="@{/css/client_pages/general/wave_header.css}" href="/static/css/client_pages/general/wave_header.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<head>
    <meta charset="UTF-8">
    <title>Choose service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section th:replace="~{/client_pages/general/wave_header.html :: section}"></section>
    <main>
        <div id="flatpickr"></div>
    </main>
<script src="/js/client_pages/select_date_time.js" th:src="@{/js/client_pages/select_date_time.js}"></script>
</body>
</html>