<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome</title>
<link th:href="@{/sass/styles_select_service.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Choose service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main>
	<h1>Services</h1>
	<section id="to-do-app">
		<span id="new-todo">Choose main service:</span>
		<div class="todos">
			<ul id="todos" th:each="service: ${serviceList}">
				<li>
					<input th:id="${service.id}" type="checkbox">
					<label th:for="${service.id}">
						<span th:text="${service.name}"></span>
						<span class="box"></span>
					</label>
				</li>
			</ul>
		</div>
	</section>
	<div class="input-container">
		<span>Input the room area:</span>
		<input type="number" id="hiddenInput">
		<span class="total-counter">Your price: 500</span>
		<button type="submit">continue</button>
	</div>
</main>
</body>
</html>