@font-face {
    font-family: Montserrat, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap') format('truetype');
}
@font-face {
    font-family: RaleWay;
    src: url("../../images/fonts/Raleway-VariableFont_wght.ttf");
}

#address-jobs-table {
    width: 100%;
}


/*Таблица редактирования профессий на адресе,список всех работников*/
#drag-jobs-box, #all-jobs-box{
    transform: translate(-50%, -50%);
    position: fixed;
    top: 65%;
    left: 50%;
    width: 80%;
    height: 60%;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease
}
#all-jobs-box {
    width: 50%;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: start;
    display: inline;
}
#all-jobs-table {
    margin-top: 4vh;
    width: 90%;
}
#jobs-of-address-table, #drag-jobs-table{
    width: 40%;
}

#drag-jobs-headers {
    width: 100%;
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#job-main-header{
    font-size: x-large;
}
#jobs-header1, #jobs-header2 {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.button-save-on-address {
    position: sticky;
    width: 15%;
}

#upper-drag-menu {
    color: white;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 25%;
    left: 50%;
    height: 30%;
    width: 80%;
    visibility: hidden;
    opacity: 0;
    align-self: center;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease
}
#all-jobs-exit{
    color: red;
    position: absolute;
    font-size: x-large;
    top: 0;
    right: 0;
}
#drag-exit {
    color: red;
    position: absolute;
    top: 20%;
    right: 0%;
    font-size: x-large;
}
#drag-exit:hover,
#drag-exit:active,
#all-jobs-exit:hover,
#all-jobs-exit:active
{
    transform: scale(1.1);
    color: darkred;
    cursor: pointer;
}

#drag-jobs-table
{
    height: 80%;
    width: 40%;
}
#jobs-of-address-table
{
    height: 80%;
    width: 40%;
}
/*-----------------------*/



