/* Ваши собственные стили */
@font-face {
    font-family: Montserrat, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap') format('truetype');
}
@font-face {
    font-family: RaleWay;
    src: url("../../images/fonts/Raleway-VariableFont_wght.ttf");
}

#address-table {
    width: 100%;
}

/*Таблицы редактирования бригадиров и работников*/
#drag-brigadiers-box, #drag-workers-box{
    transform: translate(-50%, -50%);
    position: fixed;
    top: 65%;
    left: 50%;
    width: 80%;
    height: 60%;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease
}
#addressBrigadiersTable, #dragBrigadiersTable{
    width: 40%;
}

#drag-brigadier-headers, #drag-workers-headers {
    width: 100%;
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#brig-main-header #workers-main-header{
    font-size: x-large;
}
#brig-header1, #brig-header2, #worker-header1, #worker-header2 {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.button-save-on-address {
    position: sticky;
    width: 15%;
}

#upper-drag-menu, #upper-drag-menu-workers {
    color: white;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 25%;
    left: 50%;
    height: 30%;
    width: 80%;
    visibility: hidden;
    opacity: 0;
    align-self: center;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease
}
#drag-exit, #drag-exit-workers{
    color: red;
    position: absolute;
    top: 20%;
    right: 0%;
    font-size: x-large;
}
#drag-exit:hover,
#drag-exit:active,
#drag-exit-workers:hover,
#drag-exit-workers:active{
    transform: scale(1.1);
    color: darkred;
    cursor: pointer;
}

#dragBrigadiersTable, #dragWorkersTable
{
    height: 80%;
    width: 40%;
}
#addressBrigadiersTable, #addressWorkersTable
{
    height: 80%;
    width: 40%;
}



form.address-form {
    margin-top: 5vh;
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    opacity: 0;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-radius: .5rem;
    padding: 20px;
    box-sizing: border-box;
    color: #444;
    font-size: 14px;
    line-height: 1.5;
    transition: 0.3s ease, display 0.3s ease;
}
.address-form a.send_form {
    color: #fff;
    background: #21a51f;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border-radius: .3rem;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 15px;
    cursor: pointer;
}

.address-form{
    width:100%;
    max-width:700px;
    margin:0 auto;
    box-sizing:border-box;
}

#brigadiers {
    margin-bottom: 1vh;
    width: auto;
    display: flex;
}
#brigadiers input{
    margin: 0 20px 0 2px
}
#workers {
    margin-bottom: 1vh;
    width: auto;
    display: flex;
}
#workers input{
    margin: 0 20px 0 2px
}

